.vertical-header {
    writing-mode: vertical-rl;
    /* Text flows vertically right to left (bottom to top) */
    transform: rotate(180deg);
    /* Rotate the text to flip it */
    text-align: left;
    /* Center the text */
    height: 100px;
    /* Adjust height based on design */
    white-space: nowrap;
    /* Prevent text from wrapping */
    overflow: hidden;
    /* Hide overflowed text */
    text-overflow: ellipsis;
    /* Add ellipses for long text */
    max-height: 200px;
    min-height: 200px;
    /* Set max height to limit text display */
    max-width: 100px;
    /* Optional, set width to control header size */
}

.sticky-left {
    position: sticky !important;
    left: 0;
    z-index: 3;
    background: #f7f7f7;
    /* background: #fff; */
    box-shadow: 1px 0 4px rgba(126, 126, 126, 0.1);
}

.sticky-right {
    position: sticky !important;
    right: 0;
    z-index: 3;
    background: #f7f7f7;
    /* background: #fff; */
    box-shadow: -1px 0 4px rgba(126, 126, 126, 0.1);
}

.table-summary-row {
    background-color: #f7f7f7;
    font-weight: bold;
}

.table-summary-row {
    padding: 25px !important;
    /* font-weight: bold; */
}

/* Hide on screen */
.conditional-div {
    display: none;
}

/* Show only when printing */
@media print {
    .conditional-div {
        display: block;
    }

    .conditional-padding {
        padding: 25px !important;
    }

    /* .sticky-left,
    .sticky-right {
        position: relative;
        left: auto;
        right: auto;
        z-index: auto;
        background: #f7f7f7;
        box-shadow: none;
    }

    .vertical-header {
        writing-mode: vertical-rl;
        transform: rotate(0);
        text-align: center;
        white-space: normal;
        max-width: 50px;
    } */
}