.form-inline {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    /* Space between the fields */
}

.form-inline .form-group {
    flex: 1 1 50%;
    /* Each element takes 50% width */
}

.customClassName {
    background-color: red;
}