.ant-card .ant-card-body {
  padding: 10px !important;
}

.ant-menu-inline .ant-menu-item {
  height: 32px;
}

.ant-menu-vertical .ant-menu-item {
  height: 32px;
}
.ant-menu-item-group-title {
  padding: 6px 26px !important;
}

.ant-table-wrapper .ant-table-thead >tr>th, :where(.css-dev-only-do-not-override-v22r4a).ant-table-wrapper .ant-table-thead >tr>td {
  font-weight: 500;
}



/* Hide logo in app screen but show in print */
.app-logo {
  display: none;
}


.fXGURT {
  background-color: #fff !important;
  overflow-y: hidden;
  padding: 5px;
  color: #393939;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100vh;
}


@media print {
  .no-print {
    display: none !important;
  }
  .report-container {
    padding: 16px;
  }
  .report-header {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
  }
  .report-header img {
    width: 150px;
    margin-bottom: 10px;
  }
  .app-logo {
    display: block;
  }
}