.services-card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 3 columns */
    gap: 10px;
    /* Space between cards */
}

.service-card {
    box-sizing: border-box;
    background-color: white;
    /* Initial background color */
    transition: background-color 0.3s ease;
    /* Smooth transition for hover effect */
    border: 1px solid #e8e8e8;
    /* Light border for each card */
    /* padding: 16px; */
    border-radius: 8px;
    /* Rounded corners for a modern look */
}

.service-card:hover {
    background-color: #e6f7ff;
    /* Light blue background on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Slight shadow to enhance the hover effect */
}

.card-actions {
    display: flex;
    justify-content: flex-end;
    /* Align buttons to the top-right */
}

.service-card-title {
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
    /* Keep the title on one line */
    overflow: hidden;
    /* Hide overflowing text */
    text-overflow: ellipsis;
    /* Show ellipsis when text exceeds container width */
    max-width: 100%;
    /* Adjust the max width as needed */
}

/* This controls the icons and ensures it aligns well with text */
.service-card-icon {
    display: inline-block;
    margin-right: 8px;
    /* Add some space between the icon and the title */
    vertical-align: middle;
    /* Align icon with the middle of the text */
}

.ant-card-head-title {
    font-size: 16px;
    /* Adjust font size as needed */
    font-weight: 600;
    /* Bold text */
    white-space: nowrap;
    /* Prevent text from wrapping */
    overflow: hidden;
    /* Hide overflowing text */
    text-overflow: ellipsis;
    /* Show ellipsis for overflow text */
    max-width: calc(200px + 60px);
    /* Increase max-width to account for additional characters */
}